<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My UI</title>
        <script src="/static/scripts/interact.min.js"></script>
        <script src="/static/scripts/main.js"></script>
        <script src="/static/scripts/navigation.js"></script>
        <script src="/static/scripts/screens.js"></script>
        <script src="/static/scripts/fading.js"></script>
        <script src="/static/scripts/actions.js"></script>
        <script src="/static/scripts/dragging.js"></script>
        <script src="/static/scripts/resizing.js"></script>
        <script src="/static/scripts/columns.js"></script>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="icon" href="/static/images/coffee.png" type="image/png">
    </head>
    <body class="container">
        <div class="navigation">
            <div screen="home" class="item">
                Dashboard
            </div>
        </div>
        <div class="content"></div>
    </body>
</html>