<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Attic</title>
        <script src="/static/scripts/interact.min.js"></script>
        <script src="/static/scripts/main.js"></script>
        <script src="/static/scripts/dragging.js"></script>
        <script src="/static/scripts/resizing.js"></script>
        <script src="/static/scripts/tiles.js"></script>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="icon" href="/static/images/coffee.png" type="image/png">
    </head>
    <body class="container">
        <div class="navigation">
            <div class="back item" onclick="navigateBack()">
                Back
            </div>
            <div screen="index" class="item">
                Dashboard
            </div>
            <div screen="coursework" class="item">
                Coursework
            </div>
        </div>
        <div class="content">
        </div>
    </body>
</html>