:root {
    --red: #ff8787;
    --red-dark: #e03131;
    --red-light: #f3adad;

    --yellow: #ffd43b;
    --yellow-dark: #fab005;
    --yellow-light: #fddf9b;

    --green: #63e6be;
    --green-dark: #0ca678;
    --green-light: #9edbc9;

    --blue: #74c0fc;
    --blue-dark: #146ebe;
    --blue-light: #a1c5e5;

    --purple: #b197fc;
    --purple-dark: #6741d9;
    --purple-light: #c2b3f0;

    --text: #183153;
    --background: #fff;

    --highlight: var(--blue);
    --highlight-dark: var(--blue-dark);
    --highlight-light: var(--blue-light);

    --primary: #616d8a;
    --secondary: #c9d7e6;
    --tertiary: #f0f4f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    font-size: 16px;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

body {
    overflow-y: scroll;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0;
    gap: 20px;
    background: var(--background)
}

.navigation .item {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition:
        color 0.2s ease,
        border-color 0.2s ease;
    color: var(--primary);
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.navigation .item:hover {
    color: var(--highlight-dark);
}

.navigation .item.active:hover,
.navigation .item.active {
    color: var(--highlight-dark);
    border-bottom: 2px solid var(--highlight-dark);
}

.navigation .back {
    position: absolute;
    left: 20px;
}

.action {
    position: fixed;
    border-radius: 50%;
    background: var(--highlight-light);
    fill: var(--text);
    cursor: pointer;
    transition:
        transform 0.2s ease-in-out,
        background 0.2s ease-in-out,
        fill 0.2s ease-in-out,
        right 0.2s ease-in-out,
        bottom 0.2s ease-in-out;

}

.action:hover {
    transform: scale(1.1);
}

.action.active {
    background: var(--highlight-dark);
    fill: var(--background);
}

.action.edit {
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    padding: 15px;
    z-index: 1000;
}

.action.spawn {
    right: calc(50% - 30px);
    bottom: 30px;
    width: 30px;
    height: 30px;
    padding: 15px;
    z-index: 1002;
}

.action.spawn.add:hover {
    background: var(--green-dark);
    fill: var(--background);
}

.action.spawn.trash:hover {
    background: var(--red-dark);
    fill: var(--background);
}

.action.spawn.cancel {
    background: var(--red-dark);
    fill: var(--background);
    transform: rotate(45deg);
    z-index: 1003;
}

.action.spawn.cancel:hover {
    transform: scale(1.1) rotate(45deg);
}

.action.edit-type {
    bottom: 40px;
    right: 40px;
    width: 20px;
    height: 20px;
    padding: 10px;
    z-index: 999;
}

.action.edit-type.edit-tile.editing {
    right: calc(30px + 60px + 110px);
}
.action.edit-type.edit-row.editing {
    right: calc(30px + 60px + 60px);
}
.action.edit-type.edit-column.editing {
    right: calc(30px + 60px + 10px);
}

.dummy {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 10px;
    background: var(--highlight-dark);
    z-index: 1001;
}

.content {
    width: calc(100% - 40px);
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.column,
.row,
.tile {
    display: flex;
    gap: 10px;
}

.column {
    min-height: 190px;
    flex-direction: column;
}

.row,
.tile {
    flex-direction: row;
}

.column.editing,
.row.editing,
.tile.editing {
    opacity: 0.7;
    border-radius: 10px;
    background: var(--highlight-light);
    transition:
        outline-color 0.2s ease-in-out,
        background 0.2s ease-in-out;
}

.column.editing:hover,
.row.editing:hover,
.tile.editing:hover {
    background: var(--highlight-dark);
}

.editing.shadow {
    outline: 4px solid var(--highlight-light);
    outline-offset: -4px;
    background:
        repeating-linear-gradient(
            45deg,
            var(--highlight-light),
            var(--highlight-light) 4px,
            transparent 4px,
            transparent 20px
        );
}

.create-row,
.create-tile {
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: 4px solid var(--highlight-light);
    outline-offset: -4px;
    transition: outline-color 0.2s ease-in-out;
    cursor: pointer;
}

.create-row {
    height: 190px;
}

.create-tile {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.create-row svg,
.create-tile svg {
    width: 50px;
    height: 50px;
    fill: var(--highlight-light);
    transition: fill 0.2s ease-in-out;
}

.create-row:hover,
.create-tile:hover {
    outline-color: var(--highlight-dark);
}

.create-row:hover > svg,
.create-tile:hover > svg {
    fill: var(--highlight-dark);
}

.create-tile.hover {
    position: absolute;
    transition:
        opacity 0.2s ease-in-out,
        outline-color 0.2s ease-in-out;
}

.create-tile.hidden {
    opacity: 0;
}

.create-tile.hidden:hover {
    opacity: 0.7;
}

.row.empty {
    opacity: 0.7;
    border-radius: 10px;
    outline: 4px dashed var(--highlight-light);
    outline-offset: -4px;
}